@font-face {
    font-family: "antd";
    src: url("fonts/antd.woff2") format("woff2"),
        url("fonts/antd.ttf") format("truetype"),
        url("fonts/antd.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.xicon-antd,
[class^="xicon-antd-"],
[class*=" xicon-antd-"] {
    /* Use !important to prevent extensions from overriding this font. */
    font-family: "antd" !important;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.xicon-antd-AccountBookFilled:before {
    content: "\f314";
}

.xicon-antd-AccountBookOutlined:before {
    content: "\f30c";
}

.xicon-antd-AccountBookTwotone:before {
    content: "\f304";
}

.xicon-antd-AimOutlined:before {
    content: "\f2fc";
}

.xicon-antd-AlertFilled:before {
    content: "\f2f4";
}

.xicon-antd-AlertOutlined:before {
    content: "\f2ec";
}

.xicon-antd-AlertTwotone:before {
    content: "\f2e4";
}

.xicon-antd-AlibabaOutlined:before {
    content: "\f2dc";
}

.xicon-antd-AlignCenterOutlined:before {
    content: "\f2d4";
}

.xicon-antd-AlignLeftOutlined:before {
    content: "\f2cd";
}

.xicon-antd-AlignRightOutlined:before {
    content: "\f2c5";
}

.xicon-antd-AlipayCircleFilled:before {
    content: "\f2bd";
}

.xicon-antd-AlipayCircleOutlined:before {
    content: "\f2b5";
}

.xicon-antd-AlipayOutlined:before {
    content: "\f2ad";
}

.xicon-antd-AlipaySquareFilled:before {
    content: "\f2a5";
}

.xicon-antd-AliwangwangFilled:before {
    content: "\f29d";
}

.xicon-antd-AliwangwangOutlined:before {
    content: "\f295";
}

.xicon-antd-AliyunOutlined:before {
    content: "\f28d";
}

.xicon-antd-AmazonCircleFilled:before {
    content: "\f285";
}

.xicon-antd-AmazonOutlined:before {
    content: "\f27d";
}

.xicon-antd-AmazonSquareFilled:before {
    content: "\f275";
}

.xicon-antd-AndroidFilled:before {
    content: "\f26d";
}

.xicon-antd-AndroidOutlined:before {
    content: "\f265";
}

.xicon-antd-AntCloudOutlined:before {
    content: "\f25d";
}

.xicon-antd-AntDesignOutlined:before {
    content: "\f255";
}

.xicon-antd-ApartmentOutlined:before {
    content: "\f24d";
}

.xicon-antd-ApiFilled:before {
    content: "\f245";
}

.xicon-antd-ApiOutlined:before {
    content: "\f23d";
}

.xicon-antd-ApiTwotone:before {
    content: "\f235";
}

.xicon-antd-AppleFilled:before {
    content: "\f22d";
}

.xicon-antd-AppleOutlined:before {
    content: "\f225";
}

.xicon-antd-AppstoreAddOutlined:before {
    content: "\f21d";
}

.xicon-antd-AppstoreFilled:before {
    content: "\f215";
}

.xicon-antd-AppstoreOutlined:before {
    content: "\f20d";
}

.xicon-antd-AppstoreTwotone:before {
    content: "\f205";
}

.xicon-antd-AreaChartOutlined:before {
    content: "\f1fd";
}

.xicon-antd-ArrowDownOutlined:before {
    content: "\f1f5";
}

.xicon-antd-ArrowLeftOutlined:before {
    content: "\f1ed";
}

.xicon-antd-ArrowRightOutlined:before {
    content: "\f1e5";
}

.xicon-antd-ArrowsAltOutlined:before {
    content: "\f1dd";
}

.xicon-antd-ArrowUpOutlined:before {
    content: "\f1d5";
}

.xicon-antd-AudioFilled:before {
    content: "\f1cd";
}

.xicon-antd-AudioMutedOutlined:before {
    content: "\f1c5";
}

.xicon-antd-AudioOutlined:before {
    content: "\f1bd";
}

.xicon-antd-AudioTwotone:before {
    content: "\f1b5";
}

.xicon-antd-AuditOutlined:before {
    content: "\f1ad";
}

.xicon-antd-BackwardFilled:before {
    content: "\f1a5";
}

.xicon-antd-BackwardOutlined:before {
    content: "\f19d";
}

.xicon-antd-BankFilled:before {
    content: "\f195";
}

.xicon-antd-BankOutlined:before {
    content: "\f18d";
}

.xicon-antd-BankTwotone:before {
    content: "\f185";
}

.xicon-antd-BarChartOutlined:before {
    content: "\f17d";
}

.xicon-antd-BarcodeOutlined:before {
    content: "\f175";
}

.xicon-antd-BarsOutlined:before {
    content: "\f16d";
}

.xicon-antd-BehanceCircleFilled:before {
    content: "\f165";
}

.xicon-antd-BehanceOutlined:before {
    content: "\f15d";
}

.xicon-antd-BehanceSquareFilled:before {
    content: "\f155";
}

.xicon-antd-BehanceSquareOutlined:before {
    content: "\f14d";
}

.xicon-antd-BellFilled:before {
    content: "\f145";
}

.xicon-antd-BellOutlined:before {
    content: "\f13d";
}

.xicon-antd-BellTwotone:before {
    content: "\f135";
}

.xicon-antd-BgColorsOutlined:before {
    content: "\f12d";
}

.xicon-antd-BlockOutlined:before {
    content: "\f125";
}

.xicon-antd-BoldOutlined:before {
    content: "\f11d";
}

.xicon-antd-BookFilled:before {
    content: "\f115";
}

.xicon-antd-BookOutlined:before {
    content: "\f10d";
}

.xicon-antd-BookTwotone:before {
    content: "\f105";
}

.xicon-antd-BorderBottomOutlined:before {
    content: "\f0fd";
}

.xicon-antd-BorderHorizontalOutlined:before {
    content: "\f0f5";
}

.xicon-antd-BorderInnerOutlined:before {
    content: "\f0ed";
}

.xicon-antd-BorderLeftOutlined:before {
    content: "\f0e5";
}

.xicon-antd-BorderlessTableOutlined:before {
    content: "\f0dd";
}

.xicon-antd-BorderOuterOutlined:before {
    content: "\f0d5";
}

.xicon-antd-BorderOutlined:before {
    content: "\f0cd";
}

.xicon-antd-BorderRightOutlined:before {
    content: "\f0c5";
}

.xicon-antd-BorderTopOutlined:before {
    content: "\f0bd";
}

.xicon-antd-BorderVerticleOutlined:before {
    content: "\f0b5";
}

.xicon-antd-BoxPlotFilled:before {
    content: "\f0ad";
}

.xicon-antd-BoxPlotOutlined:before {
    content: "\f0a5";
}

.xicon-antd-BoxPlotTwotone:before {
    content: "\f09d";
}

.xicon-antd-BranchesOutlined:before {
    content: "\f096";
}

.xicon-antd-BugFilled:before {
    content: "\f08e";
}

.xicon-antd-BugOutlined:before {
    content: "\f086";
}

.xicon-antd-BugTwotone:before {
    content: "\f07e";
}

.xicon-antd-BuildFilled:before {
    content: "\f076";
}

.xicon-antd-BuildOutlined:before {
    content: "\f06e";
}

.xicon-antd-BuildTwotone:before {
    content: "\f066";
}

.xicon-antd-BulbFilled:before {
    content: "\f05e";
}

.xicon-antd-BulbOutlined:before {
    content: "\f056";
}

.xicon-antd-BulbTwotone:before {
    content: "\f04e";
}

.xicon-antd-CalculatorFilled:before {
    content: "\f046";
}

.xicon-antd-CalculatorOutlined:before {
    content: "\f03e";
}

.xicon-antd-CalculatorTwotone:before {
    content: "\f037";
}

.xicon-antd-CalendarFilled:before {
    content: "\f030";
}

.xicon-antd-CalendarOutlined:before {
    content: "\f029";
}

.xicon-antd-CalendarTwotone:before {
    content: "\f022";
}

.xicon-antd-CameraFilled:before {
    content: "\f01b";
}

.xicon-antd-CameraOutlined:before {
    content: "\f014";
}

.xicon-antd-CameraTwotone:before {
    content: "\f00d";
}

.xicon-antd-CaretDownFilled:before {
    content: "\f006";
}

.xicon-antd-CaretDownOutlined:before {
    content: "\f313";
}

.xicon-antd-CaretLeftFilled:before {
    content: "\f30b";
}

.xicon-antd-CaretLeftOutlined:before {
    content: "\f303";
}

.xicon-antd-CaretRightFilled:before {
    content: "\f2fb";
}

.xicon-antd-CaretRightOutlined:before {
    content: "\f2f3";
}

.xicon-antd-CaretUpFilled:before {
    content: "\f2eb";
}

.xicon-antd-CaretUpOutlined:before {
    content: "\f2e3";
}

.xicon-antd-CarFilled:before {
    content: "\f2db";
}

.xicon-antd-CarOutlined:before {
    content: "\f2d3";
}

.xicon-antd-CarryOutFilled:before {
    content: "\f2cc";
}

.xicon-antd-CarryOutOutlined:before {
    content: "\f2c4";
}

.xicon-antd-CarryOutTwotone:before {
    content: "\f2bc";
}

.xicon-antd-CarTwotone:before {
    content: "\f2b4";
}

.xicon-antd-CheckCircleFilled:before {
    content: "\f2ac";
}

.xicon-antd-CheckCircleOutlined:before {
    content: "\f2a4";
}

.xicon-antd-CheckCircleTwotone:before {
    content: "\f29c";
}

.xicon-antd-CheckOutlined:before {
    content: "\f294";
}

.xicon-antd-CheckSquareFilled:before {
    content: "\f28c";
}

.xicon-antd-CheckSquareOutlined:before {
    content: "\f284";
}

.xicon-antd-CheckSquareTwotone:before {
    content: "\f27c";
}

.xicon-antd-ChromeFilled:before {
    content: "\f274";
}

.xicon-antd-ChromeOutlined:before {
    content: "\f26c";
}

.xicon-antd-CiCircleFilled:before {
    content: "\f264";
}

.xicon-antd-CiCircleOutlined:before {
    content: "\f25c";
}

.xicon-antd-CiCircleTwotone:before {
    content: "\f254";
}

.xicon-antd-CiOutlined:before {
    content: "\f24c";
}

.xicon-antd-CiTwotone:before {
    content: "\f244";
}

.xicon-antd-ClearOutlined:before {
    content: "\f23c";
}

.xicon-antd-ClockCircleFilled:before {
    content: "\f234";
}

.xicon-antd-ClockCircleOutlined:before {
    content: "\f22c";
}

.xicon-antd-ClockCircleTwotone:before {
    content: "\f224";
}

.xicon-antd-CloseCircleFilled:before {
    content: "\f21c";
}

.xicon-antd-CloseCircleOutlined:before {
    content: "\f214";
}

.xicon-antd-CloseCircleTwotone:before {
    content: "\f20c";
}

.xicon-antd-CloseOutlined:before {
    content: "\f204";
}

.xicon-antd-CloseSquareFilled:before {
    content: "\f1fc";
}

.xicon-antd-CloseSquareOutlined:before {
    content: "\f1f4";
}

.xicon-antd-CloseSquareTwotone:before {
    content: "\f1ec";
}

.xicon-antd-CloudDownloadOutlined:before {
    content: "\f1e4";
}

.xicon-antd-CloudFilled:before {
    content: "\f1dc";
}

.xicon-antd-CloudOutlined:before {
    content: "\f1d4";
}

.xicon-antd-CloudServerOutlined:before {
    content: "\f1cc";
}

.xicon-antd-CloudSyncOutlined:before {
    content: "\f1c4";
}

.xicon-antd-CloudTwotone:before {
    content: "\f1bc";
}

.xicon-antd-CloudUploadOutlined:before {
    content: "\f1b4";
}

.xicon-antd-ClusterOutlined:before {
    content: "\f1ac";
}

.xicon-antd-CodeFilled:before {
    content: "\f1a4";
}

.xicon-antd-CodeOutlined:before {
    content: "\f19c";
}

.xicon-antd-CodepenCircleFilled:before {
    content: "\f194";
}

.xicon-antd-CodepenCircleOutlined:before {
    content: "\f18c";
}

.xicon-antd-CodepenOutlined:before {
    content: "\f184";
}

.xicon-antd-CodepenSquareFilled:before {
    content: "\f17c";
}

.xicon-antd-CodeSandboxCircleFilled:before {
    content: "\f174";
}

.xicon-antd-CodeSandboxOutlined:before {
    content: "\f16c";
}

.xicon-antd-CodeSandboxSquareFilled:before {
    content: "\f164";
}

.xicon-antd-CodeTwotone:before {
    content: "\f15c";
}

.xicon-antd-CoffeeOutlined:before {
    content: "\f154";
}

.xicon-antd-ColumnHeightOutlined:before {
    content: "\f14c";
}

.xicon-antd-ColumnWidthOutlined:before {
    content: "\f144";
}

.xicon-antd-CommentOutlined:before {
    content: "\f13c";
}

.xicon-antd-CompassFilled:before {
    content: "\f134";
}

.xicon-antd-CompassOutlined:before {
    content: "\f12c";
}

.xicon-antd-CompassTwotone:before {
    content: "\f124";
}

.xicon-antd-CompressOutlined:before {
    content: "\f11c";
}

.xicon-antd-ConsoleSqlOutlined:before {
    content: "\f114";
}

.xicon-antd-ContactsFilled:before {
    content: "\f10c";
}

.xicon-antd-ContactsOutlined:before {
    content: "\f104";
}

.xicon-antd-ContactsTwotone:before {
    content: "\f0fc";
}

.xicon-antd-ContainerFilled:before {
    content: "\f0f4";
}

.xicon-antd-ContainerOutlined:before {
    content: "\f0ec";
}

.xicon-antd-ContainerTwotone:before {
    content: "\f0e4";
}

.xicon-antd-ControlFilled:before {
    content: "\f0dc";
}

.xicon-antd-ControlOutlined:before {
    content: "\f0d4";
}

.xicon-antd-ControlTwotone:before {
    content: "\f0cc";
}

.xicon-antd-CopyFilled:before {
    content: "\f0c4";
}

.xicon-antd-CopyOutlined:before {
    content: "\f0bc";
}

.xicon-antd-CopyrightCircleFilled:before {
    content: "\f0b4";
}

.xicon-antd-CopyrightCircleOutlined:before {
    content: "\f0ac";
}

.xicon-antd-CopyrightCircleTwotone:before {
    content: "\f0a4";
}

.xicon-antd-CopyrightOutlined:before {
    content: "\f09c";
}

.xicon-antd-CopyrightTwotone:before {
    content: "\f095";
}

.xicon-antd-CopyTwotone:before {
    content: "\f08d";
}

.xicon-antd-CreditCardFilled:before {
    content: "\f085";
}

.xicon-antd-CreditCardOutlined:before {
    content: "\f07d";
}

.xicon-antd-CreditCardTwotone:before {
    content: "\f075";
}

.xicon-antd-CrownFilled:before {
    content: "\f06d";
}

.xicon-antd-CrownOutlined:before {
    content: "\f065";
}

.xicon-antd-CrownTwotone:before {
    content: "\f05d";
}

.xicon-antd-CustomerServiceFilled:before {
    content: "\f055";
}

.xicon-antd-CustomerServiceOutlined:before {
    content: "\f04d";
}

.xicon-antd-CustomerServiceTwotone:before {
    content: "\f045";
}

.xicon-antd-DashboardFilled:before {
    content: "\f03d";
}

.xicon-antd-DashboardOutlined:before {
    content: "\f036";
}

.xicon-antd-DashboardTwotone:before {
    content: "\f02f";
}

.xicon-antd-DashOutlined:before {
    content: "\f028";
}

.xicon-antd-DatabaseFilled:before {
    content: "\f021";
}

.xicon-antd-DatabaseOutlined:before {
    content: "\f01a";
}

.xicon-antd-DatabaseTwotone:before {
    content: "\f013";
}

.xicon-antd-DeleteColumnOutlined:before {
    content: "\f00c";
}

.xicon-antd-DeleteFilled:before {
    content: "\f005";
}

.xicon-antd-DeleteOutlined:before {
    content: "\f312";
}

.xicon-antd-DeleteRowOutlined:before {
    content: "\f30a";
}

.xicon-antd-DeleteTwotone:before {
    content: "\f302";
}

.xicon-antd-DeliveredProcedureOutlined:before {
    content: "\f2fa";
}

.xicon-antd-DeploymentUnitOutlined:before {
    content: "\f2f2";
}

.xicon-antd-DesktopOutlined:before {
    content: "\f2ea";
}

.xicon-antd-DiffFilled:before {
    content: "\f2e2";
}

.xicon-antd-DiffOutlined:before {
    content: "\f2da";
}

.xicon-antd-DiffTwotone:before {
    content: "\f2d2";
}

.xicon-antd-DingdingOutlined:before {
    content: "\f2cb";
}

.xicon-antd-DingtalkCircleFilled:before {
    content: "\f2c3";
}

.xicon-antd-DingtalkOutlined:before {
    content: "\f2bb";
}

.xicon-antd-DingtalkSquareFilled:before {
    content: "\f2b3";
}

.xicon-antd-DisconnectOutlined:before {
    content: "\f2ab";
}

.xicon-antd-DislikeFilled:before {
    content: "\f2a3";
}

.xicon-antd-DislikeOutlined:before {
    content: "\f29b";
}

.xicon-antd-DislikeTwotone:before {
    content: "\f293";
}

.xicon-antd-DollarCircleFilled:before {
    content: "\f28b";
}

.xicon-antd-DollarCircleOutlined:before {
    content: "\f283";
}

.xicon-antd-DollarCircleTwotone:before {
    content: "\f27b";
}

.xicon-antd-DollarOutlined:before {
    content: "\f273";
}

.xicon-antd-DollarTwotone:before {
    content: "\f26b";
}

.xicon-antd-DotChartOutlined:before {
    content: "\f263";
}

.xicon-antd-DoubleLeftOutlined:before {
    content: "\f25b";
}

.xicon-antd-DoubleRightOutlined:before {
    content: "\f253";
}

.xicon-antd-DownCircleFilled:before {
    content: "\f24b";
}

.xicon-antd-DownCircleOutlined:before {
    content: "\f243";
}

.xicon-antd-DownCircleTwotone:before {
    content: "\f23b";
}

.xicon-antd-DownloadOutlined:before {
    content: "\f233";
}

.xicon-antd-DownOutlined:before {
    content: "\f22b";
}

.xicon-antd-DownSquareFilled:before {
    content: "\f223";
}

.xicon-antd-DownSquareOutlined:before {
    content: "\f21b";
}

.xicon-antd-DownSquareTwotone:before {
    content: "\f213";
}

.xicon-antd-DragOutlined:before {
    content: "\f20b";
}

.xicon-antd-DribbbleCircleFilled:before {
    content: "\f203";
}

.xicon-antd-DribbbleOutlined:before {
    content: "\f1fb";
}

.xicon-antd-DribbbleSquareFilled:before {
    content: "\f1f3";
}

.xicon-antd-DribbbleSquareOutlined:before {
    content: "\f1eb";
}

.xicon-antd-DropboxCircleFilled:before {
    content: "\f1e3";
}

.xicon-antd-DropboxOutlined:before {
    content: "\f1db";
}

.xicon-antd-DropboxSquareFilled:before {
    content: "\f1d3";
}

.xicon-antd-EditFilled:before {
    content: "\f1cb";
}

.xicon-antd-EditOutlined:before {
    content: "\f1c3";
}

.xicon-antd-EditTwotone:before {
    content: "\f1bb";
}

.xicon-antd-EllipsisOutlined:before {
    content: "\f1b3";
}

.xicon-antd-EnterOutlined:before {
    content: "\f1ab";
}

.xicon-antd-EnvironmentFilled:before {
    content: "\f1a3";
}

.xicon-antd-EnvironmentOutlined:before {
    content: "\f19b";
}

.xicon-antd-EnvironmentTwotone:before {
    content: "\f193";
}

.xicon-antd-EuroCircleFilled:before {
    content: "\f18b";
}

.xicon-antd-EuroCircleOutlined:before {
    content: "\f183";
}

.xicon-antd-EuroCircleTwotone:before {
    content: "\f17b";
}

.xicon-antd-EuroOutlined:before {
    content: "\f173";
}

.xicon-antd-EuroTwotone:before {
    content: "\f16b";
}

.xicon-antd-ExceptionOutlined:before {
    content: "\f163";
}

.xicon-antd-ExclamationCircleFilled:before {
    content: "\f15b";
}

.xicon-antd-ExclamationCircleOutlined:before {
    content: "\f153";
}

.xicon-antd-ExclamationCircleTwotone:before {
    content: "\f14b";
}

.xicon-antd-ExclamationOutlined:before {
    content: "\f143";
}

.xicon-antd-ExpandAltOutlined:before {
    content: "\f13b";
}

.xicon-antd-ExpandOutlined:before {
    content: "\f133";
}

.xicon-antd-ExperimentFilled:before {
    content: "\f12b";
}

.xicon-antd-ExperimentOutlined:before {
    content: "\f123";
}

.xicon-antd-ExperimentTwotone:before {
    content: "\f11b";
}

.xicon-antd-ExportOutlined:before {
    content: "\f113";
}

.xicon-antd-EyeFilled:before {
    content: "\f10b";
}

.xicon-antd-EyeInvisibleFilled:before {
    content: "\f103";
}

.xicon-antd-EyeInvisibleOutlined:before {
    content: "\f0fb";
}

.xicon-antd-EyeInvisibleTwotone:before {
    content: "\f0f3";
}

.xicon-antd-EyeOutlined:before {
    content: "\f0eb";
}

.xicon-antd-EyeTwotone:before {
    content: "\f0e3";
}

.xicon-antd-FacebookFilled:before {
    content: "\f0db";
}

.xicon-antd-FacebookOutlined:before {
    content: "\f0d3";
}

.xicon-antd-FallOutlined:before {
    content: "\f0cb";
}

.xicon-antd-FastBackwardFilled:before {
    content: "\f0c3";
}

.xicon-antd-FastBackwardOutlined:before {
    content: "\f0bb";
}

.xicon-antd-FastForwardFilled:before {
    content: "\f0b3";
}

.xicon-antd-FastForwardOutlined:before {
    content: "\f0ab";
}

.xicon-antd-FieldBinaryOutlined:before {
    content: "\f0a3";
}

.xicon-antd-FieldNumberOutlined:before {
    content: "\f09b";
}

.xicon-antd-FieldStringOutlined:before {
    content: "\f094";
}

.xicon-antd-FieldTimeOutlined:before {
    content: "\f08c";
}

.xicon-antd-FileAddFilled:before {
    content: "\f084";
}

.xicon-antd-FileAddOutlined:before {
    content: "\f07c";
}

.xicon-antd-FileAddTwotone:before {
    content: "\f074";
}

.xicon-antd-FileDoneOutlined:before {
    content: "\f06c";
}

.xicon-antd-FileExcelFilled:before {
    content: "\f064";
}

.xicon-antd-FileExcelOutlined:before {
    content: "\f05c";
}

.xicon-antd-FileExcelTwotone:before {
    content: "\f054";
}

.xicon-antd-FileExclamationFilled:before {
    content: "\f04c";
}

.xicon-antd-FileExclamationOutlined:before {
    content: "\f044";
}

.xicon-antd-FileExclamationTwotone:before {
    content: "\f03c";
}

.xicon-antd-FileFilled:before {
    content: "\f035";
}

.xicon-antd-FileGifOutlined:before {
    content: "\f02e";
}

.xicon-antd-FileImageFilled:before {
    content: "\f027";
}

.xicon-antd-FileImageOutlined:before {
    content: "\f020";
}

.xicon-antd-FileImageTwotone:before {
    content: "\f019";
}

.xicon-antd-FileJpgOutlined:before {
    content: "\f012";
}

.xicon-antd-FileMarkdownFilled:before {
    content: "\f00b";
}

.xicon-antd-FileMarkdownOutlined:before {
    content: "\f004";
}

.xicon-antd-FileMarkdownTwotone:before {
    content: "\f311";
}

.xicon-antd-FileOutlined:before {
    content: "\f309";
}

.xicon-antd-FilePdfFilled:before {
    content: "\f301";
}

.xicon-antd-FilePdfOutlined:before {
    content: "\f2f9";
}

.xicon-antd-FilePdfTwotone:before {
    content: "\f2f1";
}

.xicon-antd-FilePptFilled:before {
    content: "\f2e9";
}

.xicon-antd-FilePptOutlined:before {
    content: "\f2e1";
}

.xicon-antd-FilePptTwotone:before {
    content: "\f2d9";
}

.xicon-antd-FileProtectOutlined:before {
    content: "\f2d1";
}

.xicon-antd-FileSearchOutlined:before {
    content: "\f2ca";
}

.xicon-antd-FileSyncOutlined:before {
    content: "\f2c2";
}

.xicon-antd-FileTextFilled:before {
    content: "\f2ba";
}

.xicon-antd-FileTextOutlined:before {
    content: "\f2b2";
}

.xicon-antd-FileTextTwotone:before {
    content: "\f2aa";
}

.xicon-antd-FileTwotone:before {
    content: "\f2a2";
}

.xicon-antd-FileUnknownFilled:before {
    content: "\f29a";
}

.xicon-antd-FileUnknownOutlined:before {
    content: "\f292";
}

.xicon-antd-FileUnknownTwotone:before {
    content: "\f28a";
}

.xicon-antd-FileWordFilled:before {
    content: "\f282";
}

.xicon-antd-FileWordOutlined:before {
    content: "\f27a";
}

.xicon-antd-FileWordTwotone:before {
    content: "\f272";
}

.xicon-antd-FileZipFilled:before {
    content: "\f26a";
}

.xicon-antd-FileZipOutlined:before {
    content: "\f262";
}

.xicon-antd-FileZipTwotone:before {
    content: "\f25a";
}

.xicon-antd-FilterFilled:before {
    content: "\f252";
}

.xicon-antd-FilterOutlined:before {
    content: "\f24a";
}

.xicon-antd-FilterTwotone:before {
    content: "\f242";
}

.xicon-antd-FireFilled:before {
    content: "\f23a";
}

.xicon-antd-FireOutlined:before {
    content: "\f232";
}

.xicon-antd-FireTwotone:before {
    content: "\f22a";
}

.xicon-antd-FlagFilled:before {
    content: "\f222";
}

.xicon-antd-FlagOutlined:before {
    content: "\f21a";
}

.xicon-antd-FlagTwotone:before {
    content: "\f212";
}

.xicon-antd-FolderAddFilled:before {
    content: "\f20a";
}

.xicon-antd-FolderAddOutlined:before {
    content: "\f202";
}

.xicon-antd-FolderAddTwotone:before {
    content: "\f1fa";
}

.xicon-antd-FolderFilled:before {
    content: "\f1f2";
}

.xicon-antd-FolderOpenFilled:before {
    content: "\f1ea";
}

.xicon-antd-FolderOpenOutlined:before {
    content: "\f1e2";
}

.xicon-antd-FolderOpenTwotone:before {
    content: "\f1da";
}

.xicon-antd-FolderOutlined:before {
    content: "\f1d2";
}

.xicon-antd-FolderTwotone:before {
    content: "\f1ca";
}

.xicon-antd-FolderViewOutlined:before {
    content: "\f1c2";
}

.xicon-antd-FontColorsOutlined:before {
    content: "\f1ba";
}

.xicon-antd-FontSizeOutlined:before {
    content: "\f1b2";
}

.xicon-antd-ForkOutlined:before {
    content: "\f1aa";
}

.xicon-antd-FormatPainterFilled:before {
    content: "\f1a2";
}

.xicon-antd-FormatPainterOutlined:before {
    content: "\f19a";
}

.xicon-antd-FormOutlined:before {
    content: "\f192";
}

.xicon-antd-ForwardFilled:before {
    content: "\f18a";
}

.xicon-antd-ForwardOutlined:before {
    content: "\f182";
}

.xicon-antd-FrownFilled:before {
    content: "\f17a";
}

.xicon-antd-FrownOutlined:before {
    content: "\f172";
}

.xicon-antd-FrownTwotone:before {
    content: "\f16a";
}

.xicon-antd-FullscreenExitOutlined:before {
    content: "\f162";
}

.xicon-antd-FullscreenOutlined:before {
    content: "\f15a";
}

.xicon-antd-FunctionOutlined:before {
    content: "\f152";
}

.xicon-antd-FundFilled:before {
    content: "\f14a";
}

.xicon-antd-FundOutlined:before {
    content: "\f142";
}

.xicon-antd-FundProjectionScreenOutlined:before {
    content: "\f13a";
}

.xicon-antd-FundTwotone:before {
    content: "\f132";
}

.xicon-antd-FundViewOutlined:before {
    content: "\f12a";
}

.xicon-antd-FunnelPlotFilled:before {
    content: "\f122";
}

.xicon-antd-FunnelPlotOutlined:before {
    content: "\f11a";
}

.xicon-antd-FunnelPlotTwotone:before {
    content: "\f112";
}

.xicon-antd-GatewayOutlined:before {
    content: "\f10a";
}

.xicon-antd-GifOutlined:before {
    content: "\f102";
}

.xicon-antd-GiftFilled:before {
    content: "\f0fa";
}

.xicon-antd-GiftOutlined:before {
    content: "\f0f2";
}

.xicon-antd-GiftTwotone:before {
    content: "\f0ea";
}

.xicon-antd-GithubFilled:before {
    content: "\f0e2";
}

.xicon-antd-GithubOutlined:before {
    content: "\f0da";
}

.xicon-antd-GitlabFilled:before {
    content: "\f0d2";
}

.xicon-antd-GitlabOutlined:before {
    content: "\f0ca";
}

.xicon-antd-GlobalOutlined:before {
    content: "\f0c2";
}

.xicon-antd-GoldenFilled:before {
    content: "\f0ba";
}

.xicon-antd-GoldFilled:before {
    content: "\f0b2";
}

.xicon-antd-GoldOutlined:before {
    content: "\f0aa";
}

.xicon-antd-GoldTwotone:before {
    content: "\f0a2";
}

.xicon-antd-GoogleCircleFilled:before {
    content: "\f09a";
}

.xicon-antd-GoogleOutlined:before {
    content: "\f093";
}

.xicon-antd-GooglePlusCircleFilled:before {
    content: "\f08b";
}

.xicon-antd-GooglePlusOutlined:before {
    content: "\f083";
}

.xicon-antd-GooglePlusSquareFilled:before {
    content: "\f07b";
}

.xicon-antd-GoogleSquareFilled:before {
    content: "\f073";
}

.xicon-antd-GroupOutlined:before {
    content: "\f06b";
}

.xicon-antd-HddFilled:before {
    content: "\f063";
}

.xicon-antd-HddOutlined:before {
    content: "\f05b";
}

.xicon-antd-HddTwotone:before {
    content: "\f053";
}

.xicon-antd-HeartFilled:before {
    content: "\f04b";
}

.xicon-antd-HeartOutlined:before {
    content: "\f043";
}

.xicon-antd-HeartTwotone:before {
    content: "\f03b";
}

.xicon-antd-HeatMapOutlined:before {
    content: "\f034";
}

.xicon-antd-HighlightFilled:before {
    content: "\f02d";
}

.xicon-antd-HighlightOutlined:before {
    content: "\f026";
}

.xicon-antd-HighlightTwotone:before {
    content: "\f01f";
}

.xicon-antd-HistoryOutlined:before {
    content: "\f018";
}

.xicon-antd-HolderOutlined:before {
    content: "\f011";
}

.xicon-antd-HomeFilled:before {
    content: "\f00a";
}

.xicon-antd-HomeOutlined:before {
    content: "\f003";
}

.xicon-antd-HomeTwotone:before {
    content: "\f310";
}

.xicon-antd-HourglassFilled:before {
    content: "\f308";
}

.xicon-antd-HourglassOutlined:before {
    content: "\f300";
}

.xicon-antd-HourglassTwotone:before {
    content: "\f2f8";
}

.xicon-antd-Html5Filled:before {
    content: "\f2f0";
}

.xicon-antd-Html5Outlined:before {
    content: "\f2e8";
}

.xicon-antd-Html5Twotone:before {
    content: "\f2e0";
}

.xicon-antd-IdcardFilled:before {
    content: "\f2d8";
}

.xicon-antd-IdcardOutlined:before {
    content: "\f2d0";
}

.xicon-antd-IdcardTwotone:before {
    content: "\f2c9";
}

.xicon-antd-IeCircleFilled:before {
    content: "\f2c1";
}

.xicon-antd-IeOutlined:before {
    content: "\f2b9";
}

.xicon-antd-IeSquareFilled:before {
    content: "\f2b1";
}

.xicon-antd-ImportOutlined:before {
    content: "\f2a9";
}

.xicon-antd-InboxOutlined:before {
    content: "\f2a1";
}

.xicon-antd-InfoCircleFilled:before {
    content: "\f299";
}

.xicon-antd-InfoCircleOutlined:before {
    content: "\f291";
}

.xicon-antd-InfoCircleTwotone:before {
    content: "\f289";
}

.xicon-antd-InfoOutlined:before {
    content: "\f281";
}

.xicon-antd-InsertRowAboveOutlined:before {
    content: "\f279";
}

.xicon-antd-InsertRowBelowOutlined:before {
    content: "\f271";
}

.xicon-antd-InsertRowLeftOutlined:before {
    content: "\f269";
}

.xicon-antd-InsertRowRightOutlined:before {
    content: "\f261";
}

.xicon-antd-InstagramFilled:before {
    content: "\f259";
}

.xicon-antd-InstagramOutlined:before {
    content: "\f251";
}

.xicon-antd-InsuranceFilled:before {
    content: "\f249";
}

.xicon-antd-InsuranceOutlined:before {
    content: "\f241";
}

.xicon-antd-InsuranceTwotone:before {
    content: "\f239";
}

.xicon-antd-InteractionFilled:before {
    content: "\f231";
}

.xicon-antd-InteractionOutlined:before {
    content: "\f229";
}

.xicon-antd-InteractionTwotone:before {
    content: "\f221";
}

.xicon-antd-IssuesCloseOutlined:before {
    content: "\f219";
}

.xicon-antd-ItalicOutlined:before {
    content: "\f211";
}

.xicon-antd-KeyOutlined:before {
    content: "\f209";
}

.xicon-antd-LaptopOutlined:before {
    content: "\f201";
}

.xicon-antd-LayoutFilled:before {
    content: "\f1f9";
}

.xicon-antd-LayoutOutlined:before {
    content: "\f1f1";
}

.xicon-antd-LayoutTwotone:before {
    content: "\f1e9";
}

.xicon-antd-LeftCircleFilled:before {
    content: "\f1e1";
}

.xicon-antd-LeftCircleOutlined:before {
    content: "\f1d9";
}

.xicon-antd-LeftCircleTwotone:before {
    content: "\f1d1";
}

.xicon-antd-LeftOutlined:before {
    content: "\f1c9";
}

.xicon-antd-LeftSquareFilled:before {
    content: "\f1c1";
}

.xicon-antd-LeftSquareOutlined:before {
    content: "\f1b9";
}

.xicon-antd-LeftSquareTwotone:before {
    content: "\f1b1";
}

.xicon-antd-LikeFilled:before {
    content: "\f1a9";
}

.xicon-antd-LikeOutlined:before {
    content: "\f1a1";
}

.xicon-antd-LikeTwotone:before {
    content: "\f199";
}

.xicon-antd-LineChartOutlined:before {
    content: "\f191";
}

.xicon-antd-LineHeightOutlined:before {
    content: "\f189";
}

.xicon-antd-LineOutlined:before {
    content: "\f181";
}

.xicon-antd-LinkedinFilled:before {
    content: "\f179";
}

.xicon-antd-LinkedinOutlined:before {
    content: "\f171";
}

.xicon-antd-LinkOutlined:before {
    content: "\f169";
}

.xicon-antd-Loading3QuartersOutlined:before {
    content: "\f161";
}

.xicon-antd-LoadingOutlined:before {
    content: "\f159";
}

.xicon-antd-LockFilled:before {
    content: "\f151";
}

.xicon-antd-LockOutlined:before {
    content: "\f149";
}

.xicon-antd-LockTwotone:before {
    content: "\f141";
}

.xicon-antd-LoginOutlined:before {
    content: "\f139";
}

.xicon-antd-LogoutOutlined:before {
    content: "\f131";
}

.xicon-antd-MacCommandFilled:before {
    content: "\f129";
}

.xicon-antd-MacCommandOutlined:before {
    content: "\f121";
}

.xicon-antd-MailFilled:before {
    content: "\f119";
}

.xicon-antd-MailOutlined:before {
    content: "\f111";
}

.xicon-antd-MailTwotone:before {
    content: "\f109";
}

.xicon-antd-ManOutlined:before {
    content: "\f101";
}

.xicon-antd-MedicineBoxFilled:before {
    content: "\f0f9";
}

.xicon-antd-MedicineBoxOutlined:before {
    content: "\f0f1";
}

.xicon-antd-MedicineBoxTwotone:before {
    content: "\f0e9";
}

.xicon-antd-MediumCircleFilled:before {
    content: "\f0e1";
}

.xicon-antd-MediumOutlined:before {
    content: "\f0d9";
}

.xicon-antd-MediumSquareFilled:before {
    content: "\f0d1";
}

.xicon-antd-MediumWorkmarkOutlined:before {
    content: "\f0c9";
}

.xicon-antd-MehFilled:before {
    content: "\f0c1";
}

.xicon-antd-MehOutlined:before {
    content: "\f0b9";
}

.xicon-antd-MehTwotone:before {
    content: "\f0b1";
}

.xicon-antd-MenuFoldOutlined:before {
    content: "\f0a9";
}

.xicon-antd-MenuOutlined:before {
    content: "\f0a1";
}

.xicon-antd-MenuUnfoldOutlined:before {
    content: "\f099";
}

.xicon-antd-MergeCellsOutlined:before {
    content: "\f092";
}

.xicon-antd-MessageFilled:before {
    content: "\f08a";
}

.xicon-antd-MessageOutlined:before {
    content: "\f082";
}

.xicon-antd-MessageTwotone:before {
    content: "\f07a";
}

.xicon-antd-MinusCircleFilled:before {
    content: "\f072";
}

.xicon-antd-MinusCircleOutlined:before {
    content: "\f06a";
}

.xicon-antd-MinusCircleTwotone:before {
    content: "\f062";
}

.xicon-antd-MinusOutlined:before {
    content: "\f05a";
}

.xicon-antd-MinusSquareFilled:before {
    content: "\f052";
}

.xicon-antd-MinusSquareOutlined:before {
    content: "\f04a";
}

.xicon-antd-MinusSquareTwotone:before {
    content: "\f042";
}

.xicon-antd-MobileFilled:before {
    content: "\f03a";
}

.xicon-antd-MobileOutlined:before {
    content: "\f033";
}

.xicon-antd-MobileTwotone:before {
    content: "\f02c";
}

.xicon-antd-MoneyCollectFilled:before {
    content: "\f025";
}

.xicon-antd-MoneyCollectOutlined:before {
    content: "\f01e";
}

.xicon-antd-MoneyCollectTwotone:before {
    content: "\f017";
}

.xicon-antd-MonitorOutlined:before {
    content: "\f010";
}

.xicon-antd-MoreOutlined:before {
    content: "\f009";
}

.xicon-antd-NodeCollapseOutlined:before {
    content: "\f002";
}

.xicon-antd-NodeExpandOutlined:before {
    content: "\f30f";
}

.xicon-antd-NodeIndexOutlined:before {
    content: "\f307";
}

.xicon-antd-NotificationFilled:before {
    content: "\f2ff";
}

.xicon-antd-NotificationOutlined:before {
    content: "\f2f7";
}

.xicon-antd-NotificationTwotone:before {
    content: "\f2ef";
}

.xicon-antd-NumberOutlined:before {
    content: "\f2e7";
}

.xicon-antd-OneToOneOutlined:before {
    content: "\f2df";
}

.xicon-antd-OrderedListOutlined:before {
    content: "\f2d7";
}

.xicon-antd-PaperClipOutlined:before {
    content: "\f2c8";
}

.xicon-antd-PartitionOutlined:before {
    content: "\f2c0";
}

.xicon-antd-PauseCircleFilled:before {
    content: "\f2b8";
}

.xicon-antd-PauseCircleOutlined:before {
    content: "\f2b0";
}

.xicon-antd-PauseCircleTwotone:before {
    content: "\f2a8";
}

.xicon-antd-PauseOutlined:before {
    content: "\f2a0";
}

.xicon-antd-PayCircleFilled:before {
    content: "\f298";
}

.xicon-antd-PayCircleOutlined:before {
    content: "\f290";
}

.xicon-antd-PercentageOutlined:before {
    content: "\f288";
}

.xicon-antd-PhoneFilled:before {
    content: "\f280";
}

.xicon-antd-PhoneOutlined:before {
    content: "\f278";
}

.xicon-antd-PhoneTwotone:before {
    content: "\f270";
}

.xicon-antd-PicCenterOutlined:before {
    content: "\f268";
}

.xicon-antd-PicLeftOutlined:before {
    content: "\f260";
}

.xicon-antd-PicRightOutlined:before {
    content: "\f258";
}

.xicon-antd-PictureFilled:before {
    content: "\f250";
}

.xicon-antd-PictureOutlined:before {
    content: "\f248";
}

.xicon-antd-PictureTwotone:before {
    content: "\f240";
}

.xicon-antd-PieChartFilled:before {
    content: "\f238";
}

.xicon-antd-PieChartOutlined:before {
    content: "\f230";
}

.xicon-antd-PieChartTwotone:before {
    content: "\f228";
}

.xicon-antd-PlayCircleFilled:before {
    content: "\f220";
}

.xicon-antd-PlayCircleOutlined:before {
    content: "\f218";
}

.xicon-antd-PlayCircleTwotone:before {
    content: "\f210";
}

.xicon-antd-PlaySquareFilled:before {
    content: "\f208";
}

.xicon-antd-PlaySquareOutlined:before {
    content: "\f200";
}

.xicon-antd-PlaySquareTwotone:before {
    content: "\f1f8";
}

.xicon-antd-PlusCircleFilled:before {
    content: "\f1f0";
}

.xicon-antd-PlusCircleOutlined:before {
    content: "\f1e8";
}

.xicon-antd-PlusCircleTwotone:before {
    content: "\f1e0";
}

.xicon-antd-PlusOutlined:before {
    content: "\f1d8";
}

.xicon-antd-PlusSquareFilled:before {
    content: "\f1d0";
}

.xicon-antd-PlusSquareOutlined:before {
    content: "\f1c8";
}

.xicon-antd-PlusSquareTwotone:before {
    content: "\f1c0";
}

.xicon-antd-PoundCircleFilled:before {
    content: "\f1b8";
}

.xicon-antd-PoundCircleOutlined:before {
    content: "\f1b0";
}

.xicon-antd-PoundCircleTwotone:before {
    content: "\f1a8";
}

.xicon-antd-PoundOutlined:before {
    content: "\f1a0";
}

.xicon-antd-PoweroffOutlined:before {
    content: "\f198";
}

.xicon-antd-PrinterFilled:before {
    content: "\f190";
}

.xicon-antd-PrinterOutlined:before {
    content: "\f188";
}

.xicon-antd-PrinterTwotone:before {
    content: "\f180";
}

.xicon-antd-ProfileFilled:before {
    content: "\f178";
}

.xicon-antd-ProfileOutlined:before {
    content: "\f170";
}

.xicon-antd-ProfileTwotone:before {
    content: "\f168";
}

.xicon-antd-ProjectFilled:before {
    content: "\f160";
}

.xicon-antd-ProjectOutlined:before {
    content: "\f158";
}

.xicon-antd-ProjectTwotone:before {
    content: "\f150";
}

.xicon-antd-PropertySafetyFilled:before {
    content: "\f148";
}

.xicon-antd-PropertySafetyOutlined:before {
    content: "\f140";
}

.xicon-antd-PropertySafetyTwotone:before {
    content: "\f138";
}

.xicon-antd-PullRequestOutlined:before {
    content: "\f130";
}

.xicon-antd-PushpinFilled:before {
    content: "\f128";
}

.xicon-antd-PushpinOutlined:before {
    content: "\f120";
}

.xicon-antd-PushpinTwotone:before {
    content: "\f118";
}

.xicon-antd-QqCircleFilled:before {
    content: "\f110";
}

.xicon-antd-QqOutlined:before {
    content: "\f108";
}

.xicon-antd-QqSquareFilled:before {
    content: "\f100";
}

.xicon-antd-QrcodeOutlined:before {
    content: "\f0f8";
}

.xicon-antd-QuestionCircleFilled:before {
    content: "\f0f0";
}

.xicon-antd-QuestionCircleOutlined:before {
    content: "\f0e8";
}

.xicon-antd-QuestionCircleTwotone:before {
    content: "\f0e0";
}

.xicon-antd-QuestionOutlined:before {
    content: "\f0d8";
}

.xicon-antd-RadarChartOutlined:before {
    content: "\f0d0";
}

.xicon-antd-RadiusBottomleftOutlined:before {
    content: "\f0c8";
}

.xicon-antd-RadiusBottomrightOutlined:before {
    content: "\f0c0";
}

.xicon-antd-RadiusSettingOutlined:before {
    content: "\f0b8";
}

.xicon-antd-RadiusUpleftOutlined:before {
    content: "\f0b0";
}

.xicon-antd-RadiusUprightOutlined:before {
    content: "\f0a8";
}

.xicon-antd-ReadFilled:before {
    content: "\f0a0";
}

.xicon-antd-ReadOutlined:before {
    content: "\f091";
}

.xicon-antd-ReconciliationFilled:before {
    content: "\f089";
}

.xicon-antd-ReconciliationOutlined:before {
    content: "\f081";
}

.xicon-antd-ReconciliationTwotone:before {
    content: "\f079";
}

.xicon-antd-RedditCircleFilled:before {
    content: "\f071";
}

.xicon-antd-RedditOutlined:before {
    content: "\f069";
}

.xicon-antd-RedditSquareFilled:before {
    content: "\f061";
}

.xicon-antd-RedEnvelopeFilled:before {
    content: "\f059";
}

.xicon-antd-RedEnvelopeOutlined:before {
    content: "\f051";
}

.xicon-antd-RedEnvelopeTwotone:before {
    content: "\f049";
}

.xicon-antd-RedoOutlined:before {
    content: "\f041";
}

.xicon-antd-ReloadOutlined:before {
    content: "\f039";
}

.xicon-antd-RestFilled:before {
    content: "\f032";
}

.xicon-antd-RestOutlined:before {
    content: "\f02b";
}

.xicon-antd-RestTwotone:before {
    content: "\f024";
}

.xicon-antd-RetweetOutlined:before {
    content: "\f01d";
}

.xicon-antd-RightCircleFilled:before {
    content: "\f016";
}

.xicon-antd-RightCircleOutlined:before {
    content: "\f00f";
}

.xicon-antd-RightCircleTwotone:before {
    content: "\f008";
}

.xicon-antd-RightOutlined:before {
    content: "\f001";
}

.xicon-antd-RightSquareFilled:before {
    content: "\f30e";
}

.xicon-antd-RightSquareOutlined:before {
    content: "\f306";
}

.xicon-antd-RightSquareTwotone:before {
    content: "\f2fe";
}

.xicon-antd-RiseOutlined:before {
    content: "\f2f6";
}

.xicon-antd-RobotFilled:before {
    content: "\f2ee";
}

.xicon-antd-RobotOutlined:before {
    content: "\f2e6";
}

.xicon-antd-RocketFilled:before {
    content: "\f2de";
}

.xicon-antd-RocketOutlined:before {
    content: "\f2d6";
}

.xicon-antd-RocketTwotone:before {
    content: "\f2cf";
}

.xicon-antd-RollbackOutlined:before {
    content: "\f2c7";
}

.xicon-antd-RotateLeftOutlined:before {
    content: "\f2bf";
}

.xicon-antd-RotateRightOutlined:before {
    content: "\f2b7";
}

.xicon-antd-SafetyCertificateFilled:before {
    content: "\f2af";
}

.xicon-antd-SafetyCertificateOutlined:before {
    content: "\f2a7";
}

.xicon-antd-SafetyCertificateTwotone:before {
    content: "\f29f";
}

.xicon-antd-SafetyOutlined:before {
    content: "\f297";
}

.xicon-antd-SaveFilled:before {
    content: "\f28f";
}

.xicon-antd-SaveOutlined:before {
    content: "\f287";
}

.xicon-antd-SaveTwotone:before {
    content: "\f27f";
}

.xicon-antd-ScanOutlined:before {
    content: "\f277";
}

.xicon-antd-ScheduleFilled:before {
    content: "\f26f";
}

.xicon-antd-ScheduleOutlined:before {
    content: "\f267";
}

.xicon-antd-ScheduleTwotone:before {
    content: "\f25f";
}

.xicon-antd-ScissorOutlined:before {
    content: "\f257";
}

.xicon-antd-SearchOutlined:before {
    content: "\f24f";
}

.xicon-antd-SecurityScanFilled:before {
    content: "\f247";
}

.xicon-antd-SecurityScanOutlined:before {
    content: "\f23f";
}

.xicon-antd-SecurityScanTwotone:before {
    content: "\f237";
}

.xicon-antd-SelectOutlined:before {
    content: "\f22f";
}

.xicon-antd-SendOutlined:before {
    content: "\f227";
}

.xicon-antd-SettingFilled:before {
    content: "\f21f";
}

.xicon-antd-SettingOutlined:before {
    content: "\f217";
}

.xicon-antd-SettingTwotone:before {
    content: "\f20f";
}

.xicon-antd-ShakeOutlined:before {
    content: "\f207";
}

.xicon-antd-ShareAltOutlined:before {
    content: "\f1ff";
}

.xicon-antd-ShopFilled:before {
    content: "\f1f7";
}

.xicon-antd-ShopOutlined:before {
    content: "\f1ef";
}

.xicon-antd-ShoppingCartOutlined:before {
    content: "\f1e7";
}

.xicon-antd-ShoppingFilled:before {
    content: "\f1df";
}

.xicon-antd-ShoppingOutlined:before {
    content: "\f1d7";
}

.xicon-antd-ShoppingTwotone:before {
    content: "\f1cf";
}

.xicon-antd-ShopTwotone:before {
    content: "\f1c7";
}

.xicon-antd-ShrinkOutlined:before {
    content: "\f1bf";
}

.xicon-antd-SignalFilled:before {
    content: "\f1b7";
}

.xicon-antd-SisternodeOutlined:before {
    content: "\f1af";
}

.xicon-antd-SketchCircleFilled:before {
    content: "\f1a7";
}

.xicon-antd-SketchOutlined:before {
    content: "\f19f";
}

.xicon-antd-SketchSquareFilled:before {
    content: "\f197";
}

.xicon-antd-SkinFilled:before {
    content: "\f18f";
}

.xicon-antd-SkinOutlined:before {
    content: "\f187";
}

.xicon-antd-SkinTwotone:before {
    content: "\f17f";
}

.xicon-antd-SkypeFilled:before {
    content: "\f177";
}

.xicon-antd-SkypeOutlined:before {
    content: "\f16f";
}

.xicon-antd-SlackCircleFilled:before {
    content: "\f167";
}

.xicon-antd-SlackOutlined:before {
    content: "\f15f";
}

.xicon-antd-SlackSquareFilled:before {
    content: "\f157";
}

.xicon-antd-SlackSquareOutlined:before {
    content: "\f14f";
}

.xicon-antd-SlidersFilled:before {
    content: "\f147";
}

.xicon-antd-SlidersOutlined:before {
    content: "\f13f";
}

.xicon-antd-SlidersTwotone:before {
    content: "\f137";
}

.xicon-antd-SmallDashOutlined:before {
    content: "\f12f";
}

.xicon-antd-SmileFilled:before {
    content: "\f127";
}

.xicon-antd-SmileOutlined:before {
    content: "\f11f";
}

.xicon-antd-SmileTwotone:before {
    content: "\f117";
}

.xicon-antd-SnippetsFilled:before {
    content: "\f10f";
}

.xicon-antd-SnippetsOutlined:before {
    content: "\f107";
}

.xicon-antd-SnippetsTwotone:before {
    content: "\f0ff";
}

.xicon-antd-SolutionOutlined:before {
    content: "\f0f7";
}

.xicon-antd-SortAscendingOutlined:before {
    content: "\f0ef";
}

.xicon-antd-SortDescendingOutlined:before {
    content: "\f0e7";
}

.xicon-antd-SoundFilled:before {
    content: "\f0df";
}

.xicon-antd-SoundOutlined:before {
    content: "\f0d7";
}

.xicon-antd-SoundTwotone:before {
    content: "\f0cf";
}

.xicon-antd-SplitCellsOutlined:before {
    content: "\f0c7";
}

.xicon-antd-StarFilled:before {
    content: "\f0bf";
}

.xicon-antd-StarOutlined:before {
    content: "\f0b7";
}

.xicon-antd-StarTwotone:before {
    content: "\f0af";
}

.xicon-antd-StepBackwardFilled:before {
    content: "\f0a7";
}

.xicon-antd-StepBackwardOutlined:before {
    content: "\f09f";
}

.xicon-antd-StepForwardFilled:before {
    content: "\f098";
}

.xicon-antd-StepForwardOutlined:before {
    content: "\f090";
}

.xicon-antd-StockOutlined:before {
    content: "\f088";
}

.xicon-antd-StopFilled:before {
    content: "\f080";
}

.xicon-antd-StopOutlined:before {
    content: "\f078";
}

.xicon-antd-StopTwotone:before {
    content: "\f070";
}

.xicon-antd-StrikethroughOutlined:before {
    content: "\f068";
}

.xicon-antd-SubnodeOutlined:before {
    content: "\f060";
}

.xicon-antd-SwapLeftOutlined:before {
    content: "\f058";
}

.xicon-antd-SwapOutlined:before {
    content: "\f050";
}

.xicon-antd-SwapRightOutlined:before {
    content: "\f048";
}

.xicon-antd-SwitcherFilled:before {
    content: "\f040";
}

.xicon-antd-SwitcherOutlined:before {
    content: "\f038";
}

.xicon-antd-SwitcherTwotone:before {
    content: "\f031";
}

.xicon-antd-SyncOutlined:before {
    content: "\f02a";
}

.xicon-antd-TableOutlined:before {
    content: "\f023";
}

.xicon-antd-TabletFilled:before {
    content: "\f01c";
}

.xicon-antd-TabletOutlined:before {
    content: "\f015";
}

.xicon-antd-TabletTwotone:before {
    content: "\f00e";
}

.xicon-antd-TagFilled:before {
    content: "\f007";
}

.xicon-antd-TagOutlined:before {
    content: "\f000";
}

.xicon-antd-TagsFilled:before {
    content: "\f30d";
}

.xicon-antd-TagsOutlined:before {
    content: "\f305";
}

.xicon-antd-TagsTwotone:before {
    content: "\f2fd";
}

.xicon-antd-TagTwotone:before {
    content: "\f2f5";
}

.xicon-antd-TaobaoCircleFilled:before {
    content: "\f2ed";
}

.xicon-antd-TaobaoCircleOutlined:before {
    content: "\f2e5";
}

.xicon-antd-TaobaoOutlined:before {
    content: "\f2dd";
}

.xicon-antd-TaobaoSquareFilled:before {
    content: "\f2d5";
}

.xicon-antd-TeamOutlined:before {
    content: "\f2ce";
}

.xicon-antd-ThunderboltFilled:before {
    content: "\f2c6";
}

.xicon-antd-ThunderboltOutlined:before {
    content: "\f2be";
}

.xicon-antd-ThunderboltTwotone:before {
    content: "\f2b6";
}

.xicon-antd-ToolFilled:before {
    content: "\f2ae";
}

.xicon-antd-ToolOutlined:before {
    content: "\f2a6";
}

.xicon-antd-ToolTwotone:before {
    content: "\f29e";
}

.xicon-antd-ToTopOutlined:before {
    content: "\f296";
}

.xicon-antd-TrademarkCircleFilled:before {
    content: "\f28e";
}

.xicon-antd-TrademarkCircleOutlined:before {
    content: "\f286";
}

.xicon-antd-TrademarkCircleTwotone:before {
    content: "\f27e";
}

.xicon-antd-TrademarkOutlined:before {
    content: "\f276";
}

.xicon-antd-TransactionOutlined:before {
    content: "\f26e";
}

.xicon-antd-TranslationOutlined:before {
    content: "\f266";
}

.xicon-antd-TrophyFilled:before {
    content: "\f25e";
}

.xicon-antd-TrophyOutlined:before {
    content: "\f256";
}

.xicon-antd-TrophyTwotone:before {
    content: "\f24e";
}

.xicon-antd-TwitterCircleFilled:before {
    content: "\f246";
}

.xicon-antd-TwitterOutlined:before {
    content: "\f23e";
}

.xicon-antd-TwitterSquareFilled:before {
    content: "\f236";
}

.xicon-antd-UnderlineOutlined:before {
    content: "\f22e";
}

.xicon-antd-UndoOutlined:before {
    content: "\f226";
}

.xicon-antd-UngroupOutlined:before {
    content: "\f21e";
}

.xicon-antd-UnlockFilled:before {
    content: "\f216";
}

.xicon-antd-UnlockOutlined:before {
    content: "\f20e";
}

.xicon-antd-UnlockTwotone:before {
    content: "\f206";
}

.xicon-antd-UnorderedListOutlined:before {
    content: "\f1fe";
}

.xicon-antd-UpCircleFilled:before {
    content: "\f1f6";
}

.xicon-antd-UpCircleOutlined:before {
    content: "\f1ee";
}

.xicon-antd-UpCircleTwotone:before {
    content: "\f1e6";
}

.xicon-antd-UploadOutlined:before {
    content: "\f1de";
}

.xicon-antd-UpOutlined:before {
    content: "\f1d6";
}

.xicon-antd-UpSquareFilled:before {
    content: "\f1ce";
}

.xicon-antd-UpSquareOutlined:before {
    content: "\f1c6";
}

.xicon-antd-UpSquareTwotone:before {
    content: "\f1be";
}

.xicon-antd-UsbFilled:before {
    content: "\f1b6";
}

.xicon-antd-UsbOutlined:before {
    content: "\f1ae";
}

.xicon-antd-UsbTwotone:before {
    content: "\f1a6";
}

.xicon-antd-UserAddOutlined:before {
    content: "\f19e";
}

.xicon-antd-UserDeleteOutlined:before {
    content: "\f196";
}

.xicon-antd-UsergroupAddOutlined:before {
    content: "\f18e";
}

.xicon-antd-UsergroupDeleteOutlined:before {
    content: "\f186";
}

.xicon-antd-UserOutlined:before {
    content: "\f17e";
}

.xicon-antd-UserSwitchOutlined:before {
    content: "\f176";
}

.xicon-antd-VerifiedOutlined:before {
    content: "\f16e";
}

.xicon-antd-VerticalAlignBottomOutlined:before {
    content: "\f166";
}

.xicon-antd-VerticalAlignMiddleOutlined:before {
    content: "\f15e";
}

.xicon-antd-VerticalAlignTopOutlined:before {
    content: "\f156";
}

.xicon-antd-VerticalLeftOutlined:before {
    content: "\f14e";
}

.xicon-antd-VerticalRightOutlined:before {
    content: "\f146";
}

.xicon-antd-VideoCameraAddOutlined:before {
    content: "\f13e";
}

.xicon-antd-VideoCameraFilled:before {
    content: "\f136";
}

.xicon-antd-VideoCameraOutlined:before {
    content: "\f12e";
}

.xicon-antd-VideoCameraTwotone:before {
    content: "\f126";
}

.xicon-antd-WalletFilled:before {
    content: "\f11e";
}

.xicon-antd-WalletOutlined:before {
    content: "\f116";
}

.xicon-antd-WalletTwotone:before {
    content: "\f10e";
}

.xicon-antd-WarningFilled:before {
    content: "\f106";
}

.xicon-antd-WarningOutlined:before {
    content: "\f0fe";
}

.xicon-antd-WarningTwotone:before {
    content: "\f0f6";
}

.xicon-antd-WechatFilled:before {
    content: "\f0ee";
}

.xicon-antd-WechatOutlined:before {
    content: "\f0e6";
}

.xicon-antd-WeiboCircleFilled:before {
    content: "\f0de";
}

.xicon-antd-WeiboCircleOutlined:before {
    content: "\f0d6";
}

.xicon-antd-WeiboOutlined:before {
    content: "\f0ce";
}

.xicon-antd-WeiboSquareFilled:before {
    content: "\f0c6";
}

.xicon-antd-WeiboSquareOutlined:before {
    content: "\f0be";
}

.xicon-antd-WhatsAppOutlined:before {
    content: "\f0b6";
}

.xicon-antd-WifiOutlined:before {
    content: "\f0ae";
}

.xicon-antd-WindowsFilled:before {
    content: "\f0a6";
}

.xicon-antd-WindowsOutlined:before {
    content: "\f09e";
}

.xicon-antd-WomanOutlined:before {
    content: "\f097";
}

.xicon-antd-YahooFilled:before {
    content: "\f08f";
}

.xicon-antd-YahooOutlined:before {
    content: "\f087";
}

.xicon-antd-YoutubeFilled:before {
    content: "\f07f";
}

.xicon-antd-YoutubeOutlined:before {
    content: "\f077";
}

.xicon-antd-YuqueFilled:before {
    content: "\f06f";
}

.xicon-antd-YuqueOutlined:before {
    content: "\f067";
}

.xicon-antd-ZhihuCircleFilled:before {
    content: "\f05f";
}

.xicon-antd-ZhihuOutlined:before {
    content: "\f057";
}

.xicon-antd-ZhihuSquareFilled:before {
    content: "\f04f";
}

.xicon-antd-ZoomInOutlined:before {
    content: "\f047";
}

.xicon-antd-ZoomOutOutlined:before {
    content: "\f03f";
}