/* Xicon */
@import url('xicon-antd/xicon-antd.css');
@import url('xicon-fa/xicon-fa.css');
@import url('xicon-fluent/xicon-fluent.css');
@import url('xicon-ionicons4/xicon-ionicons4.css');
@import url('xicon-ionicons5/xicon-ionicons5.css');
@import url('xicon-material/xicon-material.css');
@import url('xicon-tabler/xicon-tabler.css');
@import url('xicon-carbon/xicon-carbon.css');