@import url('./xicon/xicon-fluent/xicon-fluent.css');
@import url('./xicon/xicon-material/xicon-material.css');

* {
	user-select: none;
}

@import 'tailwindcss';
@import "tailwindcss-primeui";
@custom-variant dark (&:where(.dark, .dark *));

#app {
	padding-top: env(safe-area-inset-top);
	padding-bottom: env(safe-area-inset-bottom);
	display: flex;
	flex-direction: column;
	height: 100vh;
}

:root {
	--bar-color: #292929;
	--bar-bg-color: #d6d6d6;
	--text-color: #0f0f0f;
	--bg-color: #f6f6f6;
	color: var(--text-color);
	background-color: var(--bg-color);
}

:root,
.dark:root {
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out !important;
}

.bar {
	color: var(--bar-color);
	background-color: var(--bar-bg-color);
}

.body_inner {
	width: 100%;
	height: 100% !important;
	position: absolute;
	overflow: auto;
}

/* Other */
.col {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

/*  */
/*  */
/* Dark theme */
html.dark:root {
	--bar-color: #d6d6d6;
	--bar-bg-color: #292929;
	--text-color: #f6f6f6;
	--bg-color: #2f2f2f;
	color: var(--text-color);
	background-color: var(--bg-color);
}

html.dark .bar {
	color: var(--bar-color);
	background-color: var(--bar-bg-color);
}

/*定义了滚动条整体样式；*/
::-webkit-scrollbar {
	width: 6px !important;
	height: 6px !important;
}

/* 定义了滚动条滑块的样式 */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	border-style: dashed;
	background-color: rgb(128, 128, 128);
	border-color: #e2242400;
	border-width: 1.5px;
	background-clip: padding-box;
}

/* 定义了轨道的样式 */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

/* 定义了滚动条滑块的悬停样式 */
::-webkit-scrollbar-thumb:hover {
	background: rgb(192, 192, 192);
}